# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled binaries
hmtool
hmtool_debug
samples_c
samples_c_debug
samples_cpp
samples_cpp_debug
